@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin-top: 3vh;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

.city-weather-search-btn {
  font-size: 1.5rem;
}

.water-drip {
  font-size: 0.1;
}
